
doctype 5
html
  head
    title Presence example
    link(rel="stylesheet", href="/css/skeleton.css")
    link(rel="stylesheet", href="/css/main.css")
  body
    #presence
      #users

    script
      user_id = "#{id}"
    script(src="/js/jquery-1.7.2.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/superagent.js")
    script(src="/js/mydb-dev.js")
    script(src="/js/main.js")
